<nav>
  <img src="assets/calmcorelogo.png" alt="Logo" class="logo">
  <ul>
    <li>
      <a routerLink="/contacts" routerLinkActive="active">Contact</a>
    </li>
    <li>
      <a routerLink="/grid" routerLinkActive="active">Gallery</a>
    </li>
    <li>
      <a routerLink="/buttons" routerLinkActive="active">About</a>
    </li>
    <li>
      <a routerLink="/books-list" routerLinkActive="active">Explore</a>
    </li>
    <li>
      <a routerLink="/add-book" routerLinkActive="active">Home</a>
    </li>
  </ul>
</nav>

<div class="content">
  <router-outlet></router-outlet>
</div>
