<style>
  .a {
      display: flex;
      justify-content: space-between; /* Space between items */
      margin-left: 3%; /* Adjust the left margin */
      margin-right: 20%; /* Adjust the right margin */
      padding-top: 50px; /* Add some padding to the top */
  }

  .text {
      width: 60%; /* Set a width for the text content */
  }

  .pic {
      width: 40%; 
      
  }

  a {
      background-color: #1E1735;
      color: white;
      border-radius: 10%;
      padding: 1%;
      display: inline-block;
      margin-top: 20px; /* Adjust the margin as needed */
  }

  .b {
      font-size: 80px;
      color: #1E1735;
      line-height: 0.5;
  }
</style>
<div class="a">
  <div class="text">
      <p class="b">CALMCORE</p>
      <br><br><br>
      <h2>Mental health problems are more common in today's stressful and fast-paced environment, but they are still
        usually stereotyped and misunderstood. In order to address this serious problem, our advocacy is to
        increase understanding, provide support, and increase awareness among those who are impacted by
        mental health issues. We work together and take proactive steps to support, reduce ignorance, and build a
        society that is more accepting and caring.
      </h2>
    
      <br>
      <br><br><br>
      <a routerLink="/grid" routerLinkActive="active">CONTACT US</a>
  </div>
  <div class="pic">
      <img src="assets/about.png" alt="Logo">
  </div>
</div>