<div class="container">
  
  <div class="a">
    <p class="b">Mental</p>
    <p class="c">Health</p>
    <p>Mental health refers to our emotional, psychological, and social well-being. It encompasses how we think, feel, act, and interact with others. Good mental health allows us to handle the ups and downs of life, cope with stress, maintain fulfilling relationships, and make meaningful contributions to society. It's not just the absence of mental illness; it's about thriving and flourishing in our daily lives.</p>
    <p>Several factors influence mental health, including biological factors like genetics and brain chemistry, life experiences such as trauma or abuse, and individual choices like diet and exercise. Just as physical health requires attention and care, so does mental health. Practices like self-care, stress management, seeking support when needed, and maintaining healthy relationships all contribute to mental well-being.</p>
    <a routerLink="/buttons" routerLinkActive="active">Learn More</a>
  </div>
  <div class="d">
    <img src="assets/heart.png" alt="Logo" class="logo">
  </div>
</div>

