<style>
  .container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 100px; /* Adjust the margin as needed */
  }
  
  img {
      
      float: left;
      
       /* Add space between image and text */
  }
  .logos{margin-right: 180px}
  
  .text {
      font-size: 20px;
      padding-left: 20px;
      float: right;
      margin-left:5%;
  }
</style>


<div class="container">
  <div class="image">
      <img src="assets/explore.png" alt="Logo" class="logos">
  </div>
  <div class="text">
      <mat-list role="list">
          <h6>01</h6>
          <mat-list-item role="listitem">
              <h1>Prioritize Self-Care</h1>
              <p>Take time for yourself each day to relax and recharge. <br>Engage in activities you enjoy, whether it's reading, exercising, meditating, or spending time outdoors.</p>
          </mat-list-item>
          <hr>
          <mat-list-item role="listitem"><h6>02</h6><h1>Practice Mindfulness</h1><p>Mindfulness techniques, such as meditation and deep breathing exercises, can <br> help reduce stress and promote a sense of calm and clarity.</p></mat-list-item>
          <hr>
          <mat-list-item role="listitem"><h6>03</h6><h1>Seek Help When Needed</h1><p>Don't hesitate to reach out for support if you're struggling. Talk to a  <br>trusted friend,family member, or mental health professional if you're experiencing persistent <br> distress or symptoms of mental illness.</p></mat-list-item>
          <hr>
      </mat-list>
  </div>
</div>