<div class="container">
  <div class="image-container">
      <img src="assets/contact.png" alt="Logo" class="logo">
  </div>

  <div class="text-container">
      <h1><span class="contact">Contact </span> <span class="us">Us</span></h1>
      <p>
          We're here to support you on your journey towards mental well-being. Whether you have questions, need assistance, or simply want to reach out, we're ready to listen and help in any way we can. Your mental health matters to us, and we're committed to providing you with compassionate care and support.
      </p>
      <br>
      <br>
      <ul class="icon-list">
          <li><span class="icon mail"></span> https://m.me/hauguidance.soccounselor</li>
          <li><span class="icon location"></span> Holy Angel University, SJH 204 <br><br></li>
      </ul>
      <a href="https://m.me/hauguidance.soccounselor" target="_blank" routerLinkActive="active">CONTACT A COUNSELOR NOW</a>

  </div>
</div>
